<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Gracie</h3>
	    <ul class="nav masthead-nav">
	        <li class="active"><%= link_to "Home", root_path %></li>
	        <li><%= link_to "About", about_path %></li>
	        <li><%= link_to "Word Counter", words_path %></li>
	        <li><a href="#">Other</a></li>
	    </ul>
 	</div>
 </div>
